/* ==UserStyle==
@name           noredink.com - 5/4/2023, 2:29:46 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("noredink.com") {
    html,
    body,
    #main section,
    div,
    h2,
    p,
    button,
    footer,
    footer *,
    ul > li[class*="student-dashboard-stat"],
    nav,
    div[data-nri-description="node"] > section,
    div[data-nri-description="node"] > section span,
    ul span
    {background:#000!important;color:#fff!important;}
    
    a
    {background:#000!important;}
    
    nav a
    {color:#fff!important;}
    
    .nav-logo {background:url("https://www.noredink.com/assets/logo-red-black-f6989d7567cf90b349409137595e99c52d036d755b4403d25528e0fd83a3b084.svg")!important;}
    
    .student-dashboard-task-start {background:url("https://www.noredink.com/assets/assignment-start-button-secondary-48edeaa28febc20165aedcf73b2e58d32bef31d3b0f4352219f8b793669c61bf.svg")!important;}
}
